table {
  margin-top: 2em;

    td, th {
      &:nth-child(2), &:last-child {
        width: 50px;
        text-align: center;
      }
    }

    td {
      vertical-align: middle;

      .form-check-input {
        width: 1.8em;
        height: 1.8em;
        margin-left: -1em;
      }
    }

    .background-green {
      background: #e0ffe0;
    }

}


